################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BORGWARNER_SERVOPRESS/BORGWARNER_SERVOPRESS.DataAccessLayer/bin/Debug
